# Ignore system files
.DS_Store

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore LaTeX auxiliary files within APMA6100
APMA6100/**/*.aux
APMA6100/**/*.log
APMA6100/**/*.out
APMA6100/**/*.synctex.gz

# Ignore specific folders
APMA6100 (Experiments)/
Latex/
Learn Python/
Summary (test)/

# Ignore LaTeX auxiliary files
*.aux
*.log
*.out
*.synctex.gz

